
$menu-width: 240px;

#wrap {
    @include transition(transform 500ms ease);
}

#menu {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0 - $menu-width;
    width: $menu-width;
    height: 100%;
    @include box-shadow(inset pem(-24) 0 pem(24) pem(-12) rgba(0,0,0, 0.25));

    .js-advanced & {
        left: 0;
        @include transform(translateX(0 - $menu-width));
    }

    .block {
        position: relative;
        padding: 0;
        padding-top: pem(84);

        .js-advanced & {
            @include opacity(0.7);
            @include transition(opacity 300ms 100ms ease, transform 500ms ease);
            @include transform-origin(100%, 50%);
            @include transform(translateX(70%) scaleX(0.9) scaleY(0.9));
        }
    }

    li {
        position: relative;
        float: none;
        border-right: none;
        border-top: 1px solid rgba(255,255,255, 0.1);

        &:last-child {
            border-bottom: 1px solid rgba(255,255,255, 0.1);
        }

        &.is-active:after {
            z-index: 50;
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: pem(-0.5);
            margin-top: pem(-10);
            border-top: pem(10) transparent solid;
            border-bottom: pem(10) transparent solid;
            border-right: pem(10) #fff solid;
        }

        a {
            padding: pem(12, 14) pem(20, 14);
        }
    }
}

.js-basic {

    &.js-menu {

        #wrap {
            left: $menu-width;
        }
    }
}

.js-advanced {

    &.js-menu {

        #wrap {
            @include transform(translateX($menu-width));
        }

        #menu {

            .block {
                @include opacity(1);
                @include transform(translateX(0));
            }
        }
    }
}